.flower {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: var(--skyColor);
  overflow: hidden;
  border-style: solid;
  border-width: 0.25cqmin;
  filter: brightness(1);
}

.flower:hover {
  filter: brightness(0.9);
}

.flower * {
  top: 50%;
  left: 50%;
  position: absolute;
  border-style: solid;
  border-width: 0.25cqmin;
  overflow: hidden;
  filter: var(--globalFilter);
}

.flower .petal {
  transform: translate(-50%, -50%) rotate(var(--rotation)) translateY(55%);
}

.flower .petal.style1 {
  width: var(--petalWidth1);
  height: var(--petalHeight1);
  background-color: var(--petalColor1);
  border-radius: var(--petalBorder1);
}

.flower .petal.style2 {
  width: var(--petalWidth2);
  height: var(--petalHeight2);
  background-color: var(--petalColor2);
  border-radius: var(--petalBorder2);
}

.flower .petal.style3 {
  width: var(--petalWidth3);
  height: var(--petalHeight3);
  background-color: var(--petalColor3);
  border-radius: var(--petalBorder3);
}

.flower .center {
  width: var(--centerSize);
  height: var(--centerSize);
  background-color: var(--centerColor);
  border-radius: 300%;
  transform: translate(-50%, -50%);
}

.flower .stem {
  width: 7%;
  height: 60%;
  background-color: #4d8076;
  transform: translate(-50%, -50%) translateY(50%);
  display: var(--displayStem);
}

.flower .leaf {
  top: 90%;
  width: 25%;
  height: 60%;
  background-color: #00c9a7;
  border-radius: 40%;
  display: var(--displayStem);
}

.flower .leaf.left {
  transform: translate(-130%, -20%) rotate(-40deg);
}

.flower .leaf.right {
  display: var(--displayRightLeaf);
  transform: translate(80%, -40%) rotate(65deg);
}

.flower .nerve {
  width: 0px;
  height: 100%;
  transform: translate(-50%, -50%);
  border-width: 0.12cqmin;
}

.flower .nerve.secondary.right {
  /*  Between -100% and 0% */
  transform: translate(-50%, var(--position)) rotate(45deg) translate(0%, -50%);
}

.flower .nerve.secondary.left {
  transform: translate(-50%, var(--position)) rotate(-45deg) translate(0%, -50%);
}