* {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

.column {
  padding: 1%;
}

.column>h2 {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container-4>div {
  padding: 1%;
}

.grid-container-3>div {
  padding: 3%;
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.flowerButtonRow .btn {
  border-bottom: none;
}

.greenhouseButtonRow>button {
  margin: 3%;
  padding: 3%;
}

.btn {
  text-align: center;
  border-style: solid;
  border-width: 0.25cqmin;
  background-color: white;
}

.btn:not([disabled]):hover {
  background-color: lightgrey;
}

.flowerButtonRow .btn+.btn {
  border-left: none;
}

.achievement {
  padding: 0.5cqmin;
  border-style: solid;
  border-width: 0.25cqmin;
  display: flex;
  background: linear-gradient(to right,
      color-mix(in hsl, rgba(255, 0, 0, 0.2), rgba(0, 255, 0, 0.2) var(--percent)) var(--percent), transparent var(--percent));
}

.achievementHoverable {
  filter: brightness(1);
}

.achievementHoverable:hover {
  filter: brightness(0.2);
}

.achievement+.achievement {
  border-top: none;
}

.achievement span:first-of-type {
  padding-right: 5%;
  flex: 1;
}

.familyTreeRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.familyTreeRow>div {
  padding: 2%;
}

.familyTreeRow .parent1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.familyTreeRow .parent2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.familyTreeRow .child {
  grid-column-start: 1;
  grid-column-end: 5;
}